*{
    box-sizing: border-box;
    top: 0px;
    margin: 0px;
    font-family: monospace;
}
body{
    background-image: url(../Images/radiant-gradient.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
nav{
    background: linear-gradient(270deg,rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.1));
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
}
nav a {
    transition: all 0.2s ease;
    margin-right: 4%;
    margin-top: 1%;
    font-size: x-large;
}
nav a:hover {
    transform: scale(1.5) translate(15%);
    margin-right: 7%;
}
nav a button{
    color: rgb(0, 0, 0);
    font-weight: 700;
}
#relojYfecha{
    background: linear-gradient(180deg,rgba(0, 0, 0, 0.7),rgba(0, 0, 0,1));
    width: 100vw;
    color: white;
    display: flex;
    justify-content: space-around;
}
footer{
    background: linear-gradient(180deg,rgba(0, 0, 0, 0.7),rgba(0, 0, 0,1));
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: end ;
    align-content:space-between;
    color: white;
}
#relojYfecha{
    display: flex;
    flex-wrap:wrap;
}
#fecha{
    font-size: 4rem;
    font-weight: bolder;
}
#reloj{
    font-size: 4rem;
    font-weight: bolder;
}
#botonesFooter{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#botonesFooter a p{
    font-size: larger;
    padding-bottom: 2vh;
    margin-top: 1vh;
}
#botonesFooter a:hover{
    transform: scale(2.5) translateY(-15%); 
}
@media (max-width: 768px) {
    #relojYfecha {
        flex-direction: column;
        justify-items: center;
        align-items: center;
        gap: 0;
    }
    nav a:hover {
        transform: scale(1.5) translate(15%);
        margin-right: 12%;
    }
}