main{
  margin-bottom: 1vh;
}
section{
  background-image: url(../Images/campo\ carabobo\ 2.jpg);
  background-size: cover;
  background-position:right;
}
#aboutMe {
  background: linear-gradient(90deg,rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0));
  height: 90vh;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.AboutMeDATA{
  font-size: 2rem;
  font-weight: bolder;
}
.AboutMeDATA1{
  font-size: 2rem;
  font-weight: bolder;
  animation: jump 10s infinite;
}
@keyframes jump {
    0% { transform: translate(0, 0); }
    25% { transform: translate(0, 70px); } 
    50% { transform: translate(350px, 70px); }
    75% { transform: translate(350px, 0); } 
    100% { transform: translate(0, 0); } 
}
#divh3{
  margin-top: 10vh;
}
.AboutMeDATAh3{
  font-size: 1.5rem;
  font-weight: 700;
}
#biografia{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: large;
  max-width: 70vw;
}
#biografia p{
  margin-bottom: 2vh;
}
@media (max-width: 768px) {
  @keyframes jump {
    0% { transform: translate(0, 0); }
    25% { transform: translate(0, 70px); } 
    50% { transform: translate(180px, 70px); }
    75% { transform: translate(180px, 0); } 
    100% { transform: translate(0, 0); } 
}
  #biografia p{
    max-width: 80vw;
    max-height: 250px;
    overflow-y: scroll;
}
}