.Main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.Alo, .Alo2{
  position: absolute;
  z-index: 0;
  height: 60vh;
  rotate: -45deg;
}
@media only screen and (max-width: 600px) {
  .Alo, .Alo2{
    height: 55vh;
  }
}
@media only screen and (max-height: 600px) {
  .Alo, .Alo2{
    height: 95vh;
  }
}
.Alo2 {
  animation: rotate 9.8s cubic-bezier(1, 0.3, 0.5, 1);
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(14400deg);
  }
}
.Centro, .Centro2 {
  position: relative;
  z-index: 1;
  width: 220px;
  height: 220px;
  border: 5px solid black;
  border-radius: 50%;
  background-color: #BFDBFE;
  color: white;
  font-size: x-large;
  font-weight: bolder;
  font-family: system-ui;
  text-shadow: 1px 1px black;
}
.Centro {
  transform: translateY(-6px) translateX(-4px);
  box-shadow: 4px 7px black;
}
.Centro2 {
  animation: cargar2 1.5s infinite linear;
}
.Centro:hover{
  background-color: rgb(0, 105, 0);
}
.Centro:active{
  box-shadow: 1px 1px black;
  transform: translateY(0px) translateX(0px);
}
@keyframes cargar2 {
  0%{
    background-color: rgb(105, 0, 0);
  }
  50%{
    background-color: rgb(0, 105, 0);
  }
  100%{
    background-color: rgb(105, 0, 0);
  }
}
.Cargar{
  margin-top: 20%;
  font-size: 2rem;
  animation: cargar 3s infinite linear;
}
.Cargar2{
  font-size: 2.5rem;
  margin-bottom: -30%;
}
.Cargar3{
  font-size: 2.8rem;
}
@keyframes cargar {
  0%{
    color: rgb(105, 0, 0);
    text-shadow: 1px 1px black;
    color: white
  }
  50%{
    color: rgb(0, 105, 0);
    text-shadow: 2px 2px white;
    color: black
  }
  100%{
    color: rgb(105, 0, 0);
    text-shadow: 2px 2px black;
    color: white
  }
}
#secundario{
  display: flex;
  align-items: center;
  justify-content: center;
}
#punto1, #punto2, #punto3, #punto4, #punto5{
  font-size: 5rem;
  margin-top: -30%;
  text-shadow: 0px 0px black;
  animation-name: punto;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
#punto1{
  animation-delay: 0s;
}
#punto2{
  animation-delay: 0.2s;
}
#punto3{
  animation-delay: 0.4s;
}
#punto4{
  animation-delay: 0.6s;
}
#punto5{
  animation-delay: 0.8s;
}
@keyframes punto {
50%{
  opacity: 0;
  transform: scale(0.7) translateY(10px);
  color: black;
}
}
