.Sprites{
    width: 100%;
}
.firedetalles, .normaldetalles, .waterdetalles, .electricdetalles, .grassdetalles, .bugdetalles, .flyingdetalles, .fightingdetalles, .icedetalles, .rockdetalles, .grounddetalles, .poisondetalles, .psychicdetalles, .ghostdetalles, .dragondetalles, .darkdetalles, .steeldetalles, .fairydetalles{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin: 4px; 
    padding: 5px;
    border: 1px;
    border-width: 10px;
    border-style: solid;
    border-radius: 10px;
    border-color: #0000009a;
    color: white;
    font-weight: 700;
    font-size:large;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 2px 2px #0000009a;
}
.normaldetalles{background-color: #a8a878;}
.firedetalles{background-color: #F08030;}
.waterdetalles{background-color: #6890F0;}
.electricdetalles{background-color: #F8D030;}
.grassdetalles{background-color: #78C850;}
.bugdetalles{background-color: #A8B820;}
.flyingdetalles{background-color: #A890F0;}
.fightingdetalles{background-color: #C03028;}
.icedetalles{background-color: #98D8D8;}
.rockdetalles{background-color: #B8A038;}
.grounddetalles{background-color: #E0C068;}
.poisondetalles{background-color: #A040A0;}
.psychicdetalles{background-color: #F85888;}
.ghostdetalles{background-color: #705898;}
.dragondetalles{background-color: #7038F8;}
.darkdetalles{background-color: #705848;}
.steeldetalles{background-color: #B8B8D0;}
.fairydetalles{background-color: #F0B6BC;}
#Close, #CloseX{
    width: auto;
    height: auto;
    margin: 4% 12%;
}
#Close:active, #CloseX:Active{
    transform: translateY(3px) translateX(2px);
    box-shadow: 0px 0px black;
}
#AreaSuperior{
    display: flex;
    flex-direction: column;
    background-color: #0000009a;
    border: rgb(0, 0, 0);
    box-shadow: 1px 1px black;    
    border-radius: 5%;
    border-style:inherit;
    border-width: 4px;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: -2%;
}
#cabecera{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: -3%;
    margin-top: -3%;
}
#imagenes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.SpriteSelector, #Close, #CloseX{
    border: 1px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    box-shadow: 2px 4px black;
    color: rgb(0, 0, 0);
    font-weight: 900;
    font-size:large;
    text-transform: uppercase;
    text-align: center;
}
#CloseX{
    border-radius: 50%;
    position: absolute;
    left: 79.2%;
    top: -0.8%;
    font-size: 1rem;
    width: auto;
    height: auto;
}
#Shiny, #Normal{
    justify-self: center;
    align-self: center;
}
#tipo{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
    margin-top: -3%;
}
#AreaIntermedia{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5%;
}
#Col1, #Col2{
    display: flex;
    flex-direction: column;
}
#Col1{
    text-align: right;
}
#Col2{
    Text-align: left;
}
#AreaIntermedia span{
    margin: 1% 13%;
    border-bottom: 2px solid black;
    width: 75%;
}
#Stats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
    width: 100%;
}
.StatsDiv{
    display: grid;
    flex-direction: column;
    width: 100%;
    height: 20%;
    gap: 1%;
}
.Statsbar{
    width: 80%;
    height: 1.2rem;
    justify-self: center;
    margin: 2%;
    border-radius: 20px;
    border: rgb(0, 0, 0) solid 3px;
    background-color: rgba(145, 145, 145, 0.603);
    position: relative;
    left: var(--percent);
}
.Statsbar:after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    animation: StatsbarAnimation 4s ease-in-out forwards;
}
@keyframes StatsbarAnimation{
    0%{
        left: 0;
    }
    100%{
        left: calc((var(--percent)*100%)/255);
    }
}