.normaldetalles{background-color: #a8a878;}
.firedetalles{background-color: #F08030;}
.waterdetalles{background-color: #6890F0;}
.electricdetalles{background-color: #F8D030;}
.grassdetalles{background-color: #78C850;}
.bugdetalles{background-color: #A8B820;}
.flyingdetalles{background-color: #A890F0;}
.fightingdetalles{background-color: #C03028;}
.icedetalles{background-color: #98D8D8;}
.rockdetalles{background-color: #B8A038;}
.grounddetalles{background-color: #E0C068;}
.poisondetalles{background-color: #A040A0;}
.psychicdetalles{background-color: #F85888;}
.ghostdetalles{background-color: #705898;}
.dragondetalles{background-color: #7038F8;}
.darkdetalles{background-color: #705848;}
.steeldetalles{background-color: #B8B8D0;}
.fairydetalles{background-color: #F0B6BC;}
.firedetalles, .normaldetalles, .waterdetalles, .electricdetalles, .grassdetalles, .bugdetalles, .flyingdetalles, .fightingdetalles, .icedetalles, .rockdetalles, .grounddetalles, .poisondetalles, .psychicdetalles, .ghostdetalles, .dragondetalles, .darkdetalles, .steeldetalles, .fairydetalles{
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin: 2px;
    border: 5px solid #0000009a;
    border-radius: 10px;
    color: rgb(230, 230, 230);
    font-weight: 900;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 2px 2px #0000009a;
}
.Sprites{
    width: 80%;
}
#AreaSuperior{
    display: flex;
    flex-direction: column;
    background-color: #0000009e;
    margin: 4px 10px;
    margin-bottom: -10px;
    border: 4px solid rgb(20, 20, 20);
    border-radius: 5%;
    box-shadow: 1px 1px rgb(20, 20, 20);
}
#cabecera{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}
#imagenes{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Close, .SpriteSelector{
    border: 2px solid rgb(20, 20, 20);
    border-radius: 10px;
    box-shadow: 2px 4px black;
    color: rgb(0, 0, 0);
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}
#Close{
    width: auto;
    height: auto;
    margin: 10px;
}
#Close:active, .SpriteSelector:active{
    transform: translateY(3px) translateX(2px);
    box-shadow: 0px 0px rgb(20, 20, 20);
}
#press{
    transform: translateY(3px) translateX(2px);
    box-shadow: 0px 0px black;
}
#tipo{
    display: flex;
    justify-content: center;
}
h3{
    margin-bottom: 1px;
    text-shadow: 2px 2px rgb(20, 20, 20);
}
#AreaIntermedia{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-shadow: 2px 2px rgb(20, 20, 20);
}
#Col1, #Col2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Col1{
    text-align: right;
}
#Col2{
    Text-align: left;
}
#AreaIntermedia span{
    width: 70%;
    border-bottom: 2px solid rgb(20, 20, 20);
}
#Stats{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.StatsDiv{
    display: grid;
    flex-direction: column;
    width: 100%;
    text-shadow: 2px 2px rgb(20, 20, 20);
}
.StatsDiv span{
    margin-top: 5px;
    margin-bottom: 5px;
}
.Statsbar{
    position: relative;
    width: 80%;
    height: 15px;
    justify-self: center;
    margin: auto;
    left: var(--percent);
    background-color: rgba(145, 145, 145, 0.6);
    border-radius: 20px;
    border: rgb(20, 20, 20) solid 3px;
}
.Statsbar::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    animation: StatsbarAnimation 3s linear forwards;
}
@keyframes StatsbarAnimation{
    0%{
        left: 0;
    }
    100%{
        left: calc((var(--percent)*100%)/255);
    }
}
@media only screen and (min-width: 600px) {
    .firedetalles, .normaldetalles, .waterdetalles, .electricdetalles, .grassdetalles, .bugdetalles, .flyingdetalles, .fightingdetalles, .icedetalles, .rockdetalles, .grounddetalles, .poisondetalles, .psychicdetalles, .ghostdetalles, .dragondetalles, .darkdetalles, .steeldetalles, .fairydetalles{
        width: 100%;
    }
    .StatsDiv span{
        margin-top: 10px;
        margin-bottom: 5px;
    }
}