#Principal{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
    background-color: #b13241e6;
    overflow: auto;
}
#Lista{
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 335px;
    border: 5px solid rgb(20, 20, 20);  
}
.NombreYNumero{
    color: rgb(230, 230, 230);
    font-weight: 900;
    text-align: left;
    text-transform: capitalize;
    text-shadow: 2px 2px rgb(20, 20, 20);
}
.Sprite:hover{
    animation: walk 10s ease-in-out;
}
@keyframes walk {
    0% {
        transform: translateX(0px);
    }
    20%{
        transform: translateX(-75%);
    }
    22% {
        transform: scaleX(-1) translateX(75%);
    }
    40%{
        transform: scaleX(-1) translateX(-70%);
    }
    42%{
        transform:translateX(70%);
    }
    60%{
        transform: translateX(0px)
    }
    65%{
        transform: scalex(-1);
    }
    68%{
        transform: scalex(1);
    }
    71%{
        transform: scalex(-1);
    }
    73%{
        transform: scalex(-1) translateX(-75%);
    }
    73%{
        transform: scalex(-1) translateX(-75%) rotate(-120deg);
    }
    75%{
        transform: scalex(-1) translateX(-75%) rotate(-120deg);
    }
    76%{
        transform: scalex(-1) translateX(-75%) rotate(-120deg);
    }
    77%{
        transform: scalex(-1) translateX(-75%) rotate(-60deg);
    }
    80%{
        transform: scalex(-1) translateX(-75%);
    }
    80%{
        transform: scalex(-1);
    }
    90%{
        transform: scalex(-1);
    }
    92%{
        transform: translateY(-15px)
    }
    94%{
        transform: translateY(0px)
    }
    96%{
        transform: translateY(-15px)
    } 
    100% {
        transform: translateY(0px)
    }
}
#AreaDetalles{
    width: -webkit-fill-available;
    height: 250px;
    position: fixed;
    padding-top: 75px;
    z-index: 1;
    background-color: #b13241;
    border: 5px solid rgb(20, 20, 20);
}
#detalles{
    height: 100%;
    background-color: #0000009a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Cargar{
    color: rgb(230, 230, 230);
    font-size: 2.1rem;
    font-weight: 900;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 2px 2px rgb(20, 20, 20);
}
@media only screen and (max-height: 600px) {
    #Principal{
        width: inherit;
        height: 100vh;
        display: flex;
        flex-direction: row-reverse;
        background-color: inherit;
        gap: 1px;
        overflow: auto;
    }
    #Lista{
        width: 45%;
        height: 77.5%;
        margin-left: inherit;
        margin-right:inherit;
        padding-top: 75px;
        z-index: inherit;
        border: 5px solid rgb(20, 20, 20);  
        overflow: auto;
    }
    #AreaDetalles{
        width: 55%;
        height: 77.5%;
        margin-right: inherit;
        position: inherit;
        padding-top: 75px;
        z-index: 1;
        background-color: #b13241;
        border: 5px solid rgb(20, 20, 20);
        overflow: auto;
    }
}
@media only screen and (min-width: 600px) {
    #Principal{
        width: inherit;
        height: 100vh;
        display: flex;
        flex-direction: row-reverse;
        background-color: inherit;
        gap: 1px;
        overflow: auto;
    }
    #Lista{
        width: 45%;
        margin-left: inherit;
        margin-right:inherit;
        padding-top: 75px;
        z-index: inherit;
        border: 5px solid rgb(20, 20, 20);  
        overflow: auto;
    }
    #AreaDetalles{
        height: -webkit-fill-available;
        width: 55%;
        margin-right: inherit;
        position: inherit;
        padding-top: 75px;
        z-index: 1;
        background-color: #b13241;
        border: 5px solid rgb(20, 20, 20);
        overflow: auto;
    }
    #detalles{
        height: 100%;
        width: 100%;
    }
}
@media only screen and (min-width: 900px) {
    #Principal{
        margin-left: 120px;
    }
    #Lista, #AreaDetalles{
        width: 50%;
        height: 99vh;
        padding: 0px;
        margin: 0px;
    }
    .NombreYNumero{
        font-size: 1.5rem;
    }
    @keyframes walk {
        0% {
            transform: translateX(0px);
        }
        20%{
            transform: translateX(-90%);
        }
        22% {
            transform: scaleX(-1) translateX(90%);
        }
        40%{
            transform: scaleX(-1) translateX(-90%);
        }
        42%{
            transform:translateX(70%);
        }
        60%{
            transform: translateX(0px)
        }
        65%{
            transform: scalex(-1);
        }
        68%{
            transform: scalex(1);
        }
        71%{
            transform: scalex(-1);
        }
        73%{
            transform: scalex(-1) translateX(-90%);
        }
        73%{
            transform: scalex(-1) translateX(-90%) rotate(-120deg);
        }
        75%{
            transform: scalex(-1) translateX(-90%) rotate(-120deg);
        }
        76%{
            transform: scalex(-1) translateX(-90%) rotate(-120deg);
        }
        77%{
            transform: scalex(-1) translateX(-90%) rotate(-60deg);
        }
        80%{
            transform: scalex(-1) translateX(-90%);
        }
        80%{
            transform: scalex(-1);
        }
        90%{
            transform: scalex(-1);
        }
        92%{
            transform: translateY(-15px)
        }
        94%{
            transform: translateY(0px)
        }
        96%{
            transform: translateY(-15px)
        } 
        100% {
            transform: translateY(0px)
        }
    }
}