#Principal{
    display: grid;
    grid-template-columns: repeat(9, minmax(0, 1fr));
    width: 90vw;
    margin-left: 10vw;
    background-color: #b13241e6;
}
#Lista{
    grid-column: span 5;
    margin-left: 20px;
}
#AreaDetalles{
    border-left: black 5px solid;
    margin-left: 8px;
    z-index: 1;
    background-color: #b13241;
}
#detalles{
    position: fixed;
    width: 70vh;
    height: 100vh;
    z-index: 1;
    left: 61vw;
    overflow: auto;
    background-color: #0000009a;
    border-right: black 5px solid;
}
.Cargar{
    text-align: center;
    text-transform: capitalize;
    margin: 60% 0%;
}
.NombreYNumero{
    width: 150px;
    height: 100%;
    color: white;
    font-weight: 900;
    font-size:large;
    text-align: left;
    text-transform: uppercase;
    text-shadow: 2px 2px black;
    display: flex;
    margin-top: auto;
    align-items: center;
    justify-content: center;
}
.Sprite{
    height: 100%;
}
.Sprite:hover{
    animation: walk 10s;
    /* transition: 2; */
    /* z-index: 1; */
}
@keyframes walk {
    0% {
        transform: translateX(0px);
    }
    20%{
        transform: translateX(-100px);
    }
    22% {
        transform: scaleX(-1) translateX(100px);
    }
    40%{
        transform: scaleX(-1) translateX(-100px);
    }
    42%{
        transform:translateX(100px);
    }
    60%{
        transform: translateX(0px)
    }
    65%{
        transform: scalex(-1);
    }
    68%{
        transform: scalex(1);
    }
    71%{
        transform: scalex(-1);
    }
    73%{
        transform: scalex(-1) translateX(-105px);
    }
    73%{
        transform: scalex(-1) translateX(-105px) rotate(-120deg);
    }
    75%{
        transform: scalex(-1) translateX(-105px) rotate(-120deg);
    }
    76%{
        transform: scalex(-1) translateX(-105px) rotate(-120deg);
    }
    77%{
        transform: scalex(-1) translateX(-105px) rotate(-60deg);
    }
    80%{
        transform: scalex(-1) translateX(-105px);
    }
    80%{
        transform: scalex(-1);
    }
    90%{
        transform: scalex(-1);
    }
    92%{
        transform: translateY(-15px)
    }
    94%{
        transform: translateY(0px)
    }
    96%{
        transform: translateY(-15px)
    } 
    100% {
        transform: translateY(0px)
    }
}
.DivTipos{
    margin-top: auto;
    margin-bottom: auto;
    gap: 2px;
    display: flex;
    flex-direction: column;
}