.fireBoton{background-color: #F08030;}
.normalBoton{background-color: #a8a878;}
.waterBoton{background-color: #6890F0;}
.electricBoton{background-color: #F8D030;}
.grassBoton{background-color: #78C850;}
.bugBoton{background-color: #A8B820;}
.flyingBoton{background-color: #A890F0;}
.fightingBoton{background-color: #C03028;}
.iceBoton{background-color: #98D8D8;}
.rockBoton{background-color: #B8A038;}
.groundBoton{background-color: #E0C068;}
.poisonBoton{background-color: #A040A0;}
.psychicBoton{background-color: #F85888;}
.ghostBoton{background-color: #705898;}
.dragonBoton{background-color: #7038F8;}
.darkBoton{background-color: #705848;}
.steelBoton{background-color: #B8B8D0;}
.fairyBoton{background-color: #F0B6Bc;}

.fireBoton, .normalBoton, .waterBoton, .electricBoton, .grassBoton, .bugBoton, .flyingBoton, .fightingBoton, .iceBoton, .rockBoton, .groundBoton, .poisonBoton, .psychicBoton, .ghostBoton, .dragonBoton, .darkBoton, .steelBoton, .fairyBoton{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 8px;
    border: 3px solid rgb(20, 20, 20);
    border-radius: 20px;
    box-shadow: 1px 2px rgb(20, 20, 20);
    transition: 0.8s;
}

.fireBoton:hover{background-color: #d37029;}
.normalBoton:hover{background-color: #8b8b59;}
.waterBoton:hover{background-color: #4f76d1;}
.electricBoton:hover{background-color: #d9b628;}
.grassBoton:hover{background-color: #64a942;}
.bugBoton:hover{background-color: #869318;}
.flyingBoton:hover{background-color: #8c75d0;}
.fightingBoton:hover{background-color: #9b2620;}
.iceBoton:hover{background-color: #79bbbb;}
.rockBoton:hover{background-color: #93802c;}
.groundBoton:hover{background-color: #bea253;}
.poisonBoton:hover{background-color: #7b307b;}
.psychicBoton:hover{background-color: #d04870;}
.ghostBoton:hover{background-color: #584477;}
.dragonBoton:hover{background-color: #612fd5;}
.darkBoton:hover{background-color: #513f33;}
.steelBoton:hover{background-color: #9b9bad;}
.fairyBoton:hover{background-color: #d59da2;}

.fireBoton:hover, .normalBoton:hover, .waterBoton:hover, .electricBoton:hover, .grassBoton:hover, .bugBoton:hover, .flyingBoton:hover, .fightingBoton:hover, .iceBoton:hover, .rockBoton:hover, .groundBoton:hover, .poisonBoton:hover, .psychicBoton:hover, .ghostBoton:hover, .dragonBoton:hover, .darkBoton:hover, .steelBoton:hover, .fairyBoton:hover{
    transform: scale(1.2);
    transition: 0.5s;
    justify-self: center;
}

.normal{background-color: #a8a878;}
.fire{background-color: #F08030;}
.water{background-color: #6890F0;}
.electric{background-color: #F8D030;}
.grass{background-color: #78C850;}
.bug{background-color: #A8B820;}
.flying{background-color: #A890F0;}
.fighting{background-color: #C03028;}
.ice{background-color: #98D8D8;}
.rock{background-color: #B8A038;}
.ground{background-color: #E0C068;}
.poison{background-color: #A040A0;}
.psychic{background-color: #F85888;}
.ghost{background-color: #705898;}
.dragon{background-color: #7038F8;}
.dark{background-color: #705848;}
.steel{background-color: #B8B8D0;}
.fairy{background-color: #F0B6BC;}

.fire, .normal, .water, .electric, .grass, .bug, .flying, .fighting, .ice, .rock, .ground, .poison, .psychic, .ghost, .dragon, .dark, .steel, .fairy{
    width: 80px;
    border: 2px solid rgb(20, 20, 20);
    border-radius: 10px;
    box-shadow: 2px 4px black;
    color: white;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px black;
}
@media only screen and (min-width: 900px) {
    .fire, .normal, .water, .electric, .grass, .bug, .flying, .fighting, .ice, .rock, .ground, .poison, .psychic, .ghost, .dragon, .dark, .steel, .fairy{
        width: 110px;
        font-size: 1.2rem;
    }
}