#Menu, #BotonesCambioPagina{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 10vw;
    z-index: 2;
    border-left: black 5px solid;
    border-right: black 5px solid;
    margin-left: 0.3%;
}
@media only screen and (max-width: 600px) {
    #Menu{
        display: flex;
    }
    }
#Menu{
    height: 100vh;
    background-color: #D42C3F;
}
#BotonesCambioPagina{
    justify-content: flex-end;
    height: auto;
    top: 71.3vh;
    z-index: 3;
}
#boton, #botonClose, #botonCambio, .GenBoton{
    width: 105px;
    height: 90px;
    margin-bottom: 8px;
    margin-top: 2px;
    border: 1px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    box-shadow: 2px 4px black;
    color: white;
    font-weight: 900;
    font-size:large;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 2px 2px black;
}
#boton, #botonClose, .GenBoton{
    background: #168106;
}
#botonCambio{
    background: #0a4c00;
}
#boton:active, #botonClose:active, #botonCambio:active, .GenBoton:active{
    transform: translateY(3px) translateX(2px);
    box-shadow: 0px 0px black;
}
.GenBoton{
    width: 20%;
    height: 9%;
    font-size: 1.5rem;
    padding: 0;
}